.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

#feedback-panel {
  position: fixed;
  right: -64px;
  bottom: 100px;
  z-index: 200;
}

#feedback-panel #feedback-btn {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#feedback-panel #feedback-btn button {
  width: 166px;
}

#feedback-panel #feedback-type {
  height: 165px;
  width: 57px;
  position: fixed;
  right: -57px;
  bottom: 40px;
  background-color: #1f67ae;
  z-index: -100;
}

#feedback-panel #feedback-type .bt1 {
  background-color: #21BA45;
}

#feedback-panel #feedback-type .bt2 {
  background-color: #00B5AD;
}

#feedback-panel #feedback-type .bt3 {
  background-color: #DB2828;
}

#feedback-panel #feedback-type .fb-bt {
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: xx-large;
  border-radius: 20%;
  margin: 8px 5px;
  cursor: pointer;
}

#feedback-panel #feedback-type .fb-bt i {
  margin-top: 13px;
  margin-right: 3px;
  color: white;
}

#feedback-panel #feedback-msg {
  height: 165px;
  width: 240px;
  position: fixed;
  right: -240px;
  bottom: 40px;
  background-color: #1f67ae;
  z-index: -100;
}

#feedback-panel #feedback-msg #feedbackForm {
  padding: 8px 6px;
}

#feedback-panel #feedback-msg #feedbackForm textarea {
  height: 105px;
  padding: 8px;
  line-height: 24px;
  resize: none;
  font-family: 'IRANSans', 'Tahoma', Arial, Helvetica, sans-serif;
  font-size: small;
}

#feedback-panel #feedback-msg #feedbackForm .fields {
  margin-top: -8px;
}

#feedback-panel #feedback-msg #feedbackForm #msg-type {
  background-color: #21BA45;
  width: 37px;
  height: 37px;
  border-radius: 20%;
  margin-right: -6px;
}

#feedback-panel #feedback-msg #feedbackForm #msg-type i {
  font-size: 27px;
  margin-top: 9px;
  margin-right: 3px;
}

body {
  direction: rtl;
}

.ui.menu {
  margin-top: 0;
}

.mobile.vertical.menu {
  position: absolute;
  z-index: 1000;
  margin: -1rem 6px;
}

.computer.menu {
  padding: 5px;
}

.computer.menu .icon.button {
  margin: 0;
  padding: 8px;
  height: 54px;
  width: 54px;
}

.computer.menu .icon.button i {
  font-size: 2em;
}

.mobile.menu {
  padding: 5px;
}

.mobile.menu .icon.button {
  margin: 0;
  padding: 8px;
  height: 38px;
  width: 38px;
}

.mobile.menu .icon.button i {
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .computer.menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .mobile.menu {
    display: none !important;
  }

  .center.segment {
    font-size: 1em;
  }
}

@media only screen and (max-width: 767px) {
  .computer.menu {
    display: none !important;
  }

  .mobile.menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .center.segment {
    font-size: .75em;
  }

  .ui.form button.submit {
    margin-top: 1em;
  }

  .ui.modal > .actions {
    padding: 1rem !important;
  }

  .ui.modal > .header {
    font-size: 1em !important;
  }
}

.five-px-element {
  width: 5px;
  height: 5px;
}

.grey.segment .message {
  text-align: center;
}

#logout_form {
  display: none;
}

#p_admin_courses .grey.segment table thead tr th:last-child {
  min-width: 200px;
}

#p_admin_instructors [name=profile_link] {
  direction: ltr;
  text-align: left;
}

#p_admin_instructors [name=photo] {
  direction: ltr;
  padding: .5em;
}

#p_admin_instructors .grey.segment thead tr th:last-child {
  min-width: 200px;
}

#p_admin_instructors .grey.segment tbody td img {
  max-width: 120px;
}

#p_admin_semesters .grey.segment thead tr th:last-child {
  min-width: 200px;
}

.edit.modal .content {
  padding: .75em !important;
}

.edit.modal .actions {
  text-align: left !important;
  padding: .75em .5em .75em !important;
}

#edit_instructor.modal [name=profile_link] {
  direction: ltr;
  text-align: left;
}

#edit_instructor.modal [name=photo] {
  direction: ltr;
  padding: .5em;
}

#delete_instructor.modal tbody td img {
  max-width: 120px;
}

/* framework side effects quick fix */

.ui.segment[class*="bottom attached"] {
  margin-bottom: 0 !important;
}

