.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

#feedback-panel {
  position: fixed;
  right: -64px;
  bottom: 100px;
  z-index: 200;
}

#feedback-panel #feedback-btn {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#feedback-panel #feedback-btn button {
  width: 166px;
}

#feedback-panel #feedback-type {
  height: 165px;
  width: 57px;
  position: fixed;
  right: -57px;
  bottom: 40px;
  background-color: #1f67ae;
  z-index: -100;
}

#feedback-panel #feedback-type .bt1 {
  background-color: #21BA45;
}

#feedback-panel #feedback-type .bt2 {
  background-color: #00B5AD;
}

#feedback-panel #feedback-type .bt3 {
  background-color: #DB2828;
}

#feedback-panel #feedback-type .fb-bt {
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: xx-large;
  border-radius: 20%;
  margin: 8px 5px;
  cursor: pointer;
}

#feedback-panel #feedback-type .fb-bt i {
  margin-top: 13px;
  margin-right: 3px;
  color: white;
}

#feedback-panel #feedback-msg {
  height: 165px;
  width: 240px;
  position: fixed;
  right: -240px;
  bottom: 40px;
  background-color: #1f67ae;
  z-index: -100;
}

#feedback-panel #feedback-msg #feedbackForm {
  padding: 8px 6px;
}

#feedback-panel #feedback-msg #feedbackForm textarea {
  height: 105px;
  padding: 8px;
  line-height: 24px;
  resize: none;
  font-family: 'IRANSans', 'Tahoma', Arial, Helvetica, sans-serif;
  font-size: small;
}

#feedback-panel #feedback-msg #feedbackForm .fields {
  margin-top: -8px;
}

#feedback-panel #feedback-msg #feedbackForm #msg-type {
  background-color: #21BA45;
  width: 37px;
  height: 37px;
  border-radius: 20%;
  margin-right: -6px;
}

#feedback-panel #feedback-msg #feedbackForm #msg-type i {
  font-size: 27px;
  margin-top: 9px;
  margin-right: 3px;
}

body {
  direction: rtl;
}

.ui.menu {
  margin-top: 0;
}

.mobile.vertical.menu {
  position: absolute;
  z-index: 1000;
  margin: -1rem 6px;
}

.computer.menu {
  padding: 5px;
}

.computer.menu .icon.button {
  margin: 0;
  padding: 8px;
  height: 54px;
  width: 54px;
}

.computer.menu .icon.button i {
  font-size: 2em;
}

.mobile.menu {
  padding: 5px;
}

.mobile.menu .icon.button {
  margin: 0;
  padding: 8px;
  height: 38px;
  width: 38px;
}

.mobile.menu .icon.button i {
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .computer.menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .mobile.menu {
    display: none !important;
  }

  .center.segment {
    font-size: 1em;
  }
}

@media only screen and (max-width: 767px) {
  .computer.menu {
    display: none !important;
  }

  .mobile.menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .center.segment {
    font-size: .75em;
  }

  .ui.form button.submit {
    margin-top: 1em;
  }

  .ui.modal > .actions {
    padding: 1rem !important;
  }

  .ui.modal > .header {
    font-size: 1em !important;
  }

  #p_admin_semester_courses .ui.toggle.checkbox {
    margin-top: .5rem;
  }

  #p_admin_messages #no_messages h1 {
    font-size: 1rem;
  }
}

.five-px-element {
  width: 5px;
  height: 5px;
}

.grey.segment .message {
  text-align: center;
}

#logout_form {
  display: none;
}

#p_admin_courses .grey.segment table thead tr th:last-child {
  min-width: 200px;
}

#p_admin_instructors [name=profile_link] {
  direction: ltr;
  text-align: left;
}

#p_admin_instructors [name=photo] {
  direction: ltr;
  padding: .5em;
}

#p_admin_instructors .grey.segment thead tr th:last-child {
  min-width: 200px;
}

#p_admin_instructors .grey.segment tbody td img {
  max-width: 120px;
}

#p_admin_semesters .grey.segment thead tr th:last-child {
  min-width: 200px;
}

#p_admin_scheduling table {
  margin: 0;
}

#p_admin_scheduling table thead tr th:first-child {
  width: 4em;
}

#p_admin_scheduling table thead th {
  font-weight: 400;
}

#p_admin_scheduling table tbody tr {
  height: 5rem;
}

#p_admin_scheduling table tbody tr td:first-child {
  font-size: .8em;
  font-weight: 400;
}

#p_admin_scheduling table tbody tr td {
  padding: 0;
}

#p_admin_scheduling .schedule .course.lecture {
  position: absolute;
  text-align: center;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-radius: 4px;
  border-width: 0 8px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  cursor: pointer;
}

#p_admin_scheduling .schedule .course.lecture .title {
  color: white;
  padding: 0 0 2px 0;
  font-size: .8em;
}

#p_admin_scheduling .schedule [data-tooltip]:after {
  font-size: .7rem;
}

#p_admin_scheduling .ui.menu {
  padding: .5rem;
}

.ui.course.cards {
  margin-top: 0;
}

.ui.course.card {
  cursor: pointer;
}

.ui.course.card .content .header {
  padding: 10px 0px;
}

.ui.course.card .extra.content {
  padding: 0.5em .5em;
}

.ui.course.card .extra.content .left.floated {
  margin-left: 5px;
}

.ui.course.card .extra.content .left.floated .student.symbol {
  text-align: center;
  float: right;
}

.ui.course.card .extra.content .left.floated .student.symbol i {
  display: block;
}

.ui.course.card .extra.content .left.floated .student.symbol .year {
  font-size: .6rem;
}

.ui.course.card .extra.content .left.floated .student.count {
  float: right;
  margin-top: 4px;
  font-size: .9rem;
}

.ui.course.card .extra.content .right.floated {
  margin-left: -6px;
  margin-top: 1px;
}

.ui.course.card .extra.content .right.floated span {
  float: right;
  display: block;
  margin-top: 3px;
  margin-left: -2px;
}

.ui.course.card .extra.content .right.floated i {
  float: right;
  display: block;
}

.ui.course.card .extra.content .green {
  color: #21ba45;
}

.ui.course.card .extra.content .green-dark {
  color: #14692a;
}

.ui.course.card .extra.content .teal {
  color: #00b5ad;
}

.ui.course.card .extra.content .teal-dark {
  color: #006961;
}

#add_schedule .scrolling.content .menu:nth-child(1) .right .labeled.icon.button {
  margin: 0 6px 6px 0;
}

#add_schedule .scrolling.content .tab.segment .block.preview {
  border-radius: 4px;
  border-width: 0 10px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  color: white;
  height: 2.75rem;
  text-align: center;
  padding: 0.4rem;
  font-size: 1.25em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#add_schedule .scrolling.content .bottom.attached.tab .instructors .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#add_schedule .scrolling.content .bottom.attached.tab .instructors .row .photo {
  width: 35px;
  float: right;
}

#add_schedule .scrolling.content .bottom.attached.tab .instructors .row .progress {
  float: right;
  width: 97%;
}

#add_schedule .scrolling.content .bottom.attached.tab .instructors .row .progress .indicating.progress {
  margin: 1rem;
}

#add_schedule .scrolling.content .bottom.attached.tab .instructors .row .votes {
  float: right;
  width: 35px;
  text-align: center;
  padding: 1.25rem 0;
}

.ui-timepicker-standard {
  z-index: 1000 !important;
}

.datepicker-plot-area {
  font-family: IRANSans,Tahoma,Arial,Helvetica,sans-serif;
}

.ui.divider {
  letter-spacing: 0;
}

.ui.selection.dropdown {
  word-wrap: normal;
}

.completed-color {
  color: #21BA45 !important;
}

.active-color {
  color: #2185D0 !important;
}

.disabled-color {
  color: lightgray !important;
}

.edit.modal .content {
  padding: .75em !important;
}

.edit.modal .actions {
  text-align: left !important;
  padding: .75em .5em .75em !important;
}

#edit_instructor.modal [name=profile_link] {
  direction: ltr;
  text-align: left;
}

#edit_instructor.modal [name=photo] {
  direction: ltr;
  padding: .5em;
}

#delete_instructor.modal tbody td img {
  max-width: 120px;
}

/* framework side effects quick fix */

.ui.segment[class*="bottom attached"] {
  margin-bottom: 0 !important;
}

