@import "commons";

body {
  direction: rtl;
}

.ui.menu {
  margin-top: 0;
}

.mobile.vertical.menu {
  position: absolute;
  z-index: 1000;
  margin: -1rem 6px;
}

.computer.menu {
  padding: 5px;

  .icon.button {
    margin: 0;
    padding: 8px;
    height: 54px;
    width: 54px;

    i {
      font-size: 2em;
    }
  }
}
.mobile.menu {
  padding: 5px;

  .icon.button {
    margin: 0;
    padding: 8px;
    height: 38px;
    width: 38px;

    i {
      font-size: 18px;
    }
  }
}

// desktop size style
@media only screen and (min-width: 768px) {
  .computer.menu {
    display: flex !important;
  }
  .mobile.menu {
    display: none !important;
  }
  .center.segment{
    font-size: 1em;
  }
}

// mobile size style
@media only screen and (max-width: 767px) {
  .computer.menu {
    display: none !important;
  }
  .mobile.menu {
    display: flex !important;
  }
  .center.segment{
    font-size: .75em;
  }
  .ui.form button.submit {
    margin-top: 1em;
  }
  .ui.modal>.actions {
    padding: 1rem !important;
  }
  .ui.modal>.header {
    font-size: 1em !important;
  }
}

.five-px-element {
  width: 5px;
  height: 5px;
}

.grey.segment {
  .message {
    text-align: center;
  }
}

#logout_form {
  display: none;
}

#p_admin_courses {
  .grey.segment table thead tr th:last-child {
    min-width: 200px;
  }
}
#p_admin_instructors {
  [name=profile_link] {
    direction: ltr;
    text-align: left;
  }
  [name=photo] {
    direction: ltr;
    padding: .5em;
  }
  .grey.segment {
    thead tr {
      th:last-child {
        min-width: 200px;
      }
    }
    tbody td {
      img {
        max-width: 120px;
      }
    }
  }
}
#p_admin_semesters {
  .grey.segment {
    thead tr {
      th:last-child {
        min-width: 200px;
      }
    }
  }
}

.edit.modal {
  .content {
    padding: .75em !important;
  }
  .actions {
    text-align: left !important;
    padding: .75em .5em .75em !important;
  }
}
#edit_instructor.modal {
  [name=profile_link] {
    direction: ltr;
    text-align: left;
  }
  [name=photo] {
    direction: ltr;
    padding: .5em;
  }
}
#delete_instructor.modal {
  tbody td {
    img {
      max-width: 120px;
    }
  }
}

/* framework side effects quick fix */
.ui.segment[class*="bottom attached"] {
  margin-bottom: 0 !important;
}